@media only screen and (max-width: 320px) {
    html {
        font-size: 50px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
    html {
        font-size: 56.25px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 375px) {
    html {
        font-size: 58.59375px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 400px) {
    html {
        font-size: 62.5px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 414px) {
    html {
        font-size: 64.6875px;
    }
}

@media only screen and (min-width: 415px) and (max-width: 640px) {
    html {
        font-size: 100px;
    }
}

@media only screen and (min-width: 640px) {
    html {
        font-size: 100px;
    }
}

body {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
}

/*header*/
.header {
    width: 100%;
    height: 0.88rem;
    position: absolute;
    left: 0;
    top: 0;
    background: #e4366b;
}

.header .title {
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.38rem;
    color: #fff;
}

.header .al {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 0.9rem;
    height: 0.88rem;
    text-align: center;
}

.header .al img {
    display: inline-block;
    vertical-align: middle;
}

.header .al span {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.header .ar {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 1.08rem;
    height: 0.52rem;
    color: #fffeff;
    font-size: 0.24rem;
    background: #f45482;
    border-radius: 0.15rem;
    text-align: center;
    line-height: 0.52rem;
    margin-right: 0.2rem;
    margin-top: 0.17rem;
}

.header img {
    width: 0.51rem;
    height: 0.34rem;
}

.content {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0.88rem;
    bottom: 0.98rem;
    overflow: hidden;
    background: #f7f7f7;
}

.content .img {
    position: absolute;
    left: 1rem;
    top: 1.2rem;
}

.content .img img {
    width: 4.39rem;
    height: 3.68rem;
}

.content .brand {
    position: absolute;
    left: 0.45rem;
    top: 5.36rem;
    width: 5.04rem;
    height: 0.82rem;
    background: url(../img/brand.jpg) no-repeat;
    background-size: 5.04rem 0.82rem;
    text-align: center;
    line-height: 0.82rem;
}

.content .brand .desc {
    color: #fffffd;
    /*font-size: 0.35rem;*/
}

.content .price {
    position: absolute;
    left: 0.6rem;
    top: 6.5rem;
}

.content .buyNum {
    margin-left: 0.8rem;
}

.count {
    width: 100%;
    height: 0.9rem;
    background: #333333;
}

.count span {
    line-height: 0.9rem;
    font-size: 0.28rem;
    color: #fafafa;
}

.count .num {
    margin-left: 0.23rem;
    margin-right: 0.46rem;
}


/*tabs*/
.tabs {
    width: 100%;
    height: 0.98rem;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background: #484850;
}

.tabs li {
    width: 2.14rem;
    height: 0.98rem;
    background: #636268;
    line-height: 0.98rem;
    text-align: center;
    font-size: 0.36rem;
    float: left;
    position: relative;
}

.tabs a {
    color: #ffffff;
}

.tabs li.active:before {
    content: '';
    height: 0.05rem;
    width: 2.14rem;
    position: absolute;
    left: 0;
    top: 0;
    background: #e4366b;
}

