<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>商品详情</title>
    <link type="text/css" rel="stylesheet" href="../css/detailPhoto.css" />
    <link type="text/css" rel="stylesheet" href="../lib/swiper.css" />
    <script src="../lib/swiper.js"></script>
    <script src="../lib/zepto.dev.js"></script>
    <script src="../js/detailPhoto.js"></script>
</head>
<body>
<header class="header">
    <a class="al" href="javascript:history.go(-1);">
        <img src="../img/return.png"/>
        <span></span>
    </a>
    <h1 class="title">商品详情</h1>
    <a class="ar" href="#">分享</a>
</header>
<div class="content">
    <div class="wrap">
        <!--轮播视图-->
        <div class="banner swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide swip1">
                    <img src="" />
                </div>
                <div class="swiper-slide swip2">
                    <img src="" />
                </div>
                <div class="swiper-slide swip3">
                    <img src="" />
                </div>
                <div class="swiper-slide swip4">
                    <img src="" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<ul class="tabs">
    <li class="tab introduce">
        <a href="introduce.html">介绍</a>
    </li>
    <li class="tab detail">
        <a href="detail.html">详情</a>
    </li>
    <li class="tab active real">
        <a href="detailPhoto.html">实拍</a>
    </li>
</ul>

</body>
</html>