<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>商品介绍</title>
    <link type="text/css" rel="stylesheet" href="../css/introduce.css" />
    <script src="../lib/zepto.dev.js"></script>
    <script src="../js/introduce.js"></script>
</head>
<body>
<header class="header">
    <a class="al" href="javascript:history.go(-1);">
        <img src="../img/return.png"/>
        <span></span>
    </a>
    <h1 class="title">商品介绍</h1>
    <a class="ar" href="#">收藏</a>
</header>
<div class="content">
    <div class="wrap">
        <div class="count">
            <span class="num"><!--距离结束时间&nbsp;:&nbsp;04天01时15分47.2秒--></span>
        </div>
        <div class="img">
            <img src="../images/index/12.jpg"/>
        </div>
        <div class="brand">
            <div class="desc">￥259  灰色印花短袖T恤</div>
        </div>
        <div class="price">
            <span class="market">市场价 : </span>
            <del>￥439</del>
            <span class="discount">&nbsp;4.8折</span>
            <span class="buyNum">125人购买</span>
        </div>
    </div>
</div>
<ul class="tabs">
    <li class="tab active introduce">
        <a href="introduce.html">介绍</a>
    </li>
    <li class="tab detail">
        <a href="detail.html">详情</a>
    </li>
    <li class="tab real">
        <a href="realPhoto.html">实拍</a>
    </li>
</ul>

</body>
</html>