<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>分类</title>
    <link type="text/css" rel="stylesheet" href="../css/myCart.css" />
    <script src="../lib/zepto.dev.js"></script>
    <script src="../js/cart.js"></script>
</head>
<body>
<header class="header">
    <a class="al" href="javascript:history.go(-1);">
        <img src="../img/return.png"/>
        <span></span>
    </a>
    <h1 class="title">购物车</h1>
    <a class="ar" href="order.html">去结算</a>
</header>
<div class="content">
    <div class="wrap">
        <div class="count">
            <span class="num"></span>
            <span class="expense"></span>
        </div>
        <!--列表-->
        <ul class="list">
<!--            <li class="item">
                <div class="item-img">
                    <img src="../img/clothes.png"/>
                </div>
                <div class="item-content">
                    <div class="name">
                        <span class="brandname">ESPRIT 气质V领玫红</span>
                        <a href="#" class="del">
                            <img src="../img/del.png"/>
                        </a>
                    </div>
                    <div class="price">
                        单价 :<i>&nbsp;&nbsp;￥199</i>
                        <span class="unit">L</span>
                    </div>
                    <div class="buyNum">
                        <span>数量 :&nbsp;&nbsp;</span><a href="#" class="sub">-</a>
                        <input type="text" value="1"/>
                        <a href="#" class="add">+</a>
                    </div>
                </div>
            </li>-->
        </ul>
    </div>
</div>
<ul class="tabs">
    <li class="tab">
        <a href="../index.html">
            <img src="../img/home.png" style="width: 0.48rem; height: 0.51rem;"/>
            <span>首页</span>
        </a>
    </li>
    <li class="tab">
        <a href="category.html">
            <img src="../img/category.png" style="width: 0.44rem; height: 0.43rem;"/>
            <span>分类</span>
        </a>
    </li>
    <li class="tab active cart">
        <a href="#">
            <img src="../img/cart.png" style="width: 0.48rem; height: 0.43rem;"/>
            <span>购物车</span>
            <span class="gou"></span>
        </a>
    </li>
    <li class="tab">
        <a href="myShow.html">
            <img src="../img/mine.png" style="width: 0.47rem; height: 0.45rem;"/>
            <span>我的秀</span>
        </a>
    </li>
    <li class="tab">
        <a href="more.html">
            <img src="../img/more.png" style="width: 0.46rem; height: 0.43rem;"/>
            <span>更多</span>
        </a>
    </li>
</ul>

</body>
</html>